.screen-header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

.screen-header__icons--span{
    position: relative;
}

.screen-header__icons--small-circle{
    position: absolute;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    right: -5px;
    top: 0px;
}